<% if user_signed_in? %>

  <div id="app"></div>

<% else %>
  <div class="row">
    <div class="large-12 columns splash">
      <h1 class="splash-text">Welcome to Exquisite.gif</h1>
   
      <hr>
    </div>
  </div>
<% end %>