<div id="app">
  <div class='row' id="welcome">
    <h1>Welcome to exquiste.gif!</h1>
    <h4>Are you new here? Click 'New Gif' to get started.</h4>
    <h4>Or if you just received an email to collaborate on a new gif, click the 'Collaborations' button.</h4>
  </div>
</div>
