
  <fieldset>
    <legend>Start a New Animation!</legend>
    <div class='row'>
      <div class='large-5 columns'>
        <label for="animation-title">Title</label>
        <input type='text' id="animation-title"><br>
      </div>
    </div>
    <button id="animation-submit">Save</button>
  </fieldset>