<div class='row'>
    <h3>Start a New Animation!</h3>
    <div class='row'>
      <div class='large-5 columns'>
        <input type='text' id="animation-title" placeholder="Title"><br>

        <div id="email-inputs">
        </div>
        <button id="add-email-field">Add a Collaborator</button>
      </div>
    </div>
    <button id="animation-submit">Save</button>
</div>