<div class='row'>
  <div class="large-9 columns" role="content">

  <% animations.each(function(animation) { %>
    <article>
    <h3>
      <% if (animation.escape('finished') == 0) { %>
      <a href="#animations/<%= animation.escape('id') %>">
        <% } %>
      <%= animation.escape('title') %></a></h3>
    <img src="<%= animation.escape('url') %>">
    </article>

  <% }) %>
  </div>
</div>


