<ul>
  <% animations.each(function(animation) { %>
    <li>
      <a href="#animations/<%= animation.escape('id') %>">
        <%= animation.escape('title') %>
      </a>
      <img src="<%= animation.escape('url') %>">
    </li>
  <% }) %>
</ul>