<div class='row'>
  <div class="large-1 columns"></div>
  <div id="toolbar" class="large-6 large-offset-5 columns" >
    <fieldset>
      <legend>Toolbar</legend>

    <label for='pen'>Pen</label>
    <input type='radio' name='tool' id='pen'>

    <label for='eraser'>Eraser</label>
    <input type='radio' name='tool' id='eraser'>

    </fieldset>
  </div>
</div>