  <div id="toolbar" class="large-6 large-offset-5 columns" >
    <fieldset>
      <legend>Toolbar</legend>

    <label for='pen'>Pen</label>
    <input type='radio' name='tool' id='pen'>

    <label for='eraser'>Eraser</label>
    <input type='radio' name='tool' id='eraser'>

    <button class='color-select' data-hex="#FFFFFF" id="white"></button>
    <button class='color-select' data-hex="#FDDC00" id="yellow"></button>
    <button class='color-select' data-hex="#15B6CD" id="teal"></button>
    <button class='color-select' data-hex="#10367C" id="blue"></button>
    <button class='color-select' data-hex="#CF0315" id="red"></button>
    <button class='color-select' data-hex="#000000" id="black"></button>
    </fieldset>
  </div>
