  <div id="toolbar" class="large-6 large-offset-5 columns" >

    <div id="frames">
    <h1 id="frame-count">Frames()</h1>
    </div>

    <div id="eraser-box">
        <a id='eraser'>Eraser</a>
    </div>

    <div id="color-boxes">
    <a class='color-select' data-hex="#FFFFFF" id="white">white </a>
    <a class='color-select' data-hex="#FDDC00" id="yellow">yellow</a>
    <a class='color-select' data-hex="#15B6CD" id="teal">teal  </a>
    <a class='color-select' data-hex="#10367C" id="blue">blue  </a>
    <a class='color-select' data-hex="#CF0315" id="red">red   </a>
    <a class='color-select' data-hex="#000000" id="black">black </a>
    </div>
    <br>
    <div id="saves">
        <button id="save-frame">save frame</button>
        <button id="build-gif">build gif</button>
    </div>
  </div>
