/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
 */

#sketchpad {
  height: 470px;
  width: 100%;
  position: absolute;
  cursor: crosshair;
  margin-left: 150px;
  margin-top: 60px;
}

canvas {
  border: 1px solid gray;
} 

#color-boxes {
  padding: 10px;
}

#saves {
  padding: 10px;
}

#toolbar {
  border: 1px solid gray;
  position: absolute;
  margin-left: 550px;
  margin-top: -450px;
}

#frames {
  padding: 25px;
}

#eraser {
  width: 20px;
  height: 20px;
  padding: 18px;
  color: black;
  background-color: #FFFFFF;
  font-family: 'Permanent Marker', cursive;
}

#eraser-box {
  padding: 10px;
  padding-bottom: 50px;
}

#white {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

#yellow {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #FDDC00;
  background-color: #FDDC00;
}

#teal {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #15B6CD;
  background-color: #15B6CD;
}

#blue {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #10367C;
  background-color: #10367C;
}

#red {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #CF0315;
  background-color: #CF0315;
}

#black {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #000000;
  background-color: #000000;
}

