/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
 */

#sketchpad {
  height: 470px;
  width: 100%;
  position: absolute;
  cursor: crosshair;
  margin-left: 100px;
  margin-top: 60px;
}

canvas {
  border: 1px solid gray;
} 

#color-boxes {
  padding: 10px;
}

#new-animation-form {
  margin-top: 70px;
  margin-left: 80px;
}

#saves {
  padding: 10px;
}

#toolbar {
  //border: 1px solid gray;
  position: absolute;
  margin-left: 550px;
  margin-top: -450px;
}

#frames {
  padding: 10px;
}

.color-select {
  opacity: 0.7;
}

.color-select:hover {
  opacity: 1;
}

#eraser {
  width: 20px;
  height: 20px;
  padding: 9px 30px 10px 30px;
  color: black;
  background-color: #FFFFFF;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}

#eraser-box {
  padding: 10px;
  padding-bottom: 50px;
}

#white {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  margin: -3px;
}

#yellow {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #FDDC00;
  background-color: #FDDC00;
  margin: -3px;
}

#teal {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #15B6CD;
  background-color: #15B6CD;
}

#blue {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #10367C;
  background-color: #10367C;
}

#red {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #CF0315;
  background-color: #CF0315;
}

#black {
  width: 20px;
  height: 20px;
  padding: 20px;
  color: #000000;
  background-color: #000000;
}

#pagination {
  padding: 40px;
  margin-left: -60px;
}

.p-button {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  padding: 20px;
  opacity: 0.8;
  &:hover {
    opacity: 1; 
  }
}

.invite {
  padding: 10px;
  font-size: 0.6em;
  color: #000000;
}

#welcome {
  padding: 10px;
  margin-top: 60px;
}












