<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited by, <%= @user.email %> to build an Exquisite GIF animation</h1>
    <p>
      To login to the site, and discover your GIF: <%= @url %>.
    </p>
    <p>Enjoy!</p>
  </body>
</html>